body{
    margin: 0;
    overflow-x: hidden;
} 

 .section{
       position: relative;
       width: 100%;
       height: 100vh;
       overflow: hidden;
   } 
   .section .video-control{
    position: absolute;
    top: -50vh;
    left: 0;
    width: 100%;
    object-fit: cover;
    width: 100vw;
    height: 100vh;    
    z-index: -1;   
    
}
.section h1{
    font-size: 6rem;
    position: relative;
    
    margin-left: 400px;
    top: 150px;
    background-color: rgba(174, 218, 243, 0.2);
    width: 500px;
    border-radius:12px ;
    color: rgba(20, 233, 222, 0.638);
    font-family: 'Lobster';
    text-align: center;

}
.headbar{
    width:900px;
    float:left;
    font-size:30px;
    color:rgba(4, 150, 142, 0.838);
    margin-top:-10px;
    font-family: 'Lobster';
}
nav{
    padding: 15px  15px 0px 15px;
    width: 100vw;
    height: 45px;
    background-color: black;
    align-content: center;
}
 a{
    width: 20px;
    height: 100%;
    color: white;
    font-size: 20px;
    text-decoration-line: none;
    font-weight: 200;
    box-sizing: border-box;
    margin-right: 20px;
    padding: 10px;
    
}

.auth{
    color:rgba(4, 150, 142);
    font-size: 24px;
    font-family: 'Lobster';
}
.auth:hover{
    background-color:rgba(4, 150, 142, 0.2) ;
}
.auth1{
    background-color: rgba(0, 130, 252, 0.808);
    left: 220px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;

}
a:hover{
    background-color: rgb(247, 117, 117);
}
.auth1:hover{
    background-color: rgb(4, 71, 255);

}
.auth1{
    font-family: cursive;
    font-size: 16px;
}


/*input[type="date"]::-webkit-calendar-picker-indicator*/
input[type="date"]::-webkit-inner-spin-button {
    margin-top: 10px;
    top: 2px;
    
}
nav .title-of-site{
    width: 300px;
    float: left;
    color:white;
    margin:0;
    height: 100%;
    font-size: 40px;
    margin-top: -6px;
    
}
.shortcut{
    position: relative;
    top: 40%;
    text-align:  center;
    color: white;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 1000;
    font-size: bold;
   
}
.shortcut h1{
    height: 10px;;
}
.shortcut h1:hover{
    color: blue;
}
.shortcut::selection{
    color: deepskyblue;
}
.shortcut input {
    display: inline-block;
    padding: 0 16px;
    border-radius:16px;
    background-color: aliceblue;
    text-align: left;
    border: 1px solid aliceblue;
    width: 250px;
    height: 50px;
    font-weight:bold;
    z-index: 1;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.911);
    text-decoration: none;
    outline: none;
    
}
.shortcut ::placeholder{
    color: rgba(0, 0, 0, 0.719);
}
.shortcut input[type="submit"] 
{
    display:inline-block;
    padding: 0 16px;
    border-radius:54px;
    background-color:deepskyblue;
    text-align: center;
    border: 1px solid deepskyblue;
    width: 120px;
    height: 50px;
    z-index: 1;
    font-size: 16px;
    color: white;
    
}
.line{
    
    align-content: center;
    background-color: white;
}


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,10,0.75);
    z-index: 2;
    cursor: pointer;
  }

.offerride{
    background-color: white;
    width: 100%;
    height: 300px;
    position: absolute;
    display: inline-block;
    padding: 50 0 50 0;
    margin: 0 auto;
    align-content: center;
    text-align: center;
}
.offerride .offerride-img{
    display: inline-block;
    width: 400px;
    vertical-align: top;
    
}
.offerride .offerride-content{
    display: inline-block;
    width: 400px;
    vertical-align: top;
}
.footer{
    background-color: gray;
    width: 100%;
    height: 200px;
    position: absolute;
    display: inline-block;
    padding: 50 0 50 0;
    margin: 0 auto;
    padding: 50 100 50 100;
    top: 1050px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 